
<section class= "rounded-2xl border-solid border-2 border-blue-500 bg-green-200 p-5 pl-8">
  <!-- The contents of this card links to the gallery page using the gallery ID -->
  <a href="/products/{{id}}">
    <!-- The card contains the gallery name as the card header -->
    <header>{{product_name}}</header>
    <!-- The card contains the first painting of the gallery -->
    <img class="object-cover w-32 h-32 mx-07" src="{{image_url}}">
  </a>
</section>